@font-face {
  font-weight: 400;
  font-family: "HebarExtraLight-Normal";
  font-style: normal;
  font-display: swap;
  src: url(/fonts/HebarExtraLight-Normal.woff2) format("woff2"), url(/fonts/HebarExtraLight-Normal.woff) format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Chalet-NewYorkNineteenEighty";
  font-style: normal;
  font-display: swap;
  src: url(/fonts/Chalet-NewYorkNineteenEighty.woff2) format("woff2"), url(/fonts/Chalet-NewYorkNineteenEighty.woff) format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "OksFree";
  font-style: normal;
  font-display: swap;
  src: url(/fonts/OksFree.woff2) format("woff2"), url(/fonts/OksFree.woff) format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  font-family: "HebarExtraLight-Normal", sans-serif;
  min-width: 320px;
  background-color: #ffeab3;
  word-wrap: break-word;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px 25px;
  border-radius: 20px;
}

.button--primary {
  font-family: "HebarExtraLight-Normal", sans-serif;
  background-color: #eb563a;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.button--primary:hover {
  background-color: #f7785f;
}

@media screen and (min-width: 992px) {
  .button--primary {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  padding: 16px 0;
}

.header__wrapper {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .header__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header__logo img {
  width: 100px;
}

@media screen and (min-width: 768px) {
  .header__logo img {
    width: 130px;
  }
}

@media screen and (min-width: 992px) {
  .header__logo img {
    width: 140px;
  }
}

.header__button {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__button {
    display: inline-block;
  }
}

.main-nav {
  position: relative;
}

.main-nav--opened .main-nav__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 45%;
  background-color: #f7f7f7;
  height: 100%;
  z-index: 2;
  padding: 60px 20px 10px 35px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

@media screen and (min-width: 460px) {
  .main-nav--opened .main-nav__wrapper {
    left: 55%;
  }
}

@media screen and (min-width: 576px) {
  .main-nav--opened .main-nav__wrapper {
    position: -webkit-sticky;
    position: sticky;
    padding: 0;
    border: 0;
    background-color: inherit;
  }
}

.main-nav--opened .main-nav__list {
  list-style-type: none;
  display: block;
}

.main-nav--opened .main-nav__list .main-nav__item + .main-nav__item {
  margin-top: 15px;
}

@media screen and (min-width: 576px) {
  .main-nav--opened .main-nav__list {
    display: -ms-grid;
    display: grid;
  }
  .main-nav--opened .main-nav__list .main-nav__item + .main-nav__item {
    margin: 0;
  }
}

.main-nav--opened .main-nav__burger {
  display: block;
  z-index: 3;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -10px;
  left: -20px;
  right: 0;
  bottom: 0;
  border: 1px solid #252525;
  border-radius: 50%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main-nav--opened .main-nav__burger:hover, .main-nav--opened .main-nav__burger:active {
  border: 1px solid #f7f7f7;
  background-color: #252525;
}

.main-nav--opened .main-nav__burger:hover::before, .main-nav--opened .main-nav__burger:hover::after, .main-nav--opened .main-nav__burger:active::before, .main-nav--opened .main-nav__burger:active::after {
  background-color: #fff;
}

.main-nav--opened .main-nav__burger::before {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 1px;
  width: 15px;
  top: 11px;
  left: 4px;
}

.main-nav--opened .main-nav__burger::after {
  width: 15px;
  border-radius: 10px;
  position: absolute;
  content: "";
  height: 1px;
  background-color: #252525;
  top: 11px;
  left: 4px;
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (min-width: 576px) {
  .main-nav--opened .main-nav__burger {
    display: none;
  }
}

.main-nav__list {
  display: none;
}

@media screen and (min-width: 576px) {
  .main-nav__list {
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -webkit-column-gap: 33px;
            column-gap: 33px;
  }
}

.main-nav__item a {
  text-decoration: none;
  color: #252525;
  font-size: 16px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main-nav__item a:hover {
  color: #eb563a;
}

@media screen and (min-width: 992px) {
  .main-nav__item a {
    font-size: 19px;
  }
}

.main-nav__burger {
  cursor: pointer;
  outline: none;
  border: none;
  z-index: 1;
  font-size: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

.main-nav__burger::before {
  border-radius: 10px;
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: #252525;
  top: 8px;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 8px 0 0 #000;
          box-shadow: 0 8px 0 0 #000;
}

@media screen and (min-width: 576px) {
  .main-nav__burger {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */