@charset "UTF-8";
@font-face {
  font-weight: 400;
  font-family: "HebarExtraLight-Normal";
  font-style: normal;
  font-display: swap;
  src: url(/fonts/HebarExtraLight-Normal.woff2) format("woff2"), url(/fonts/HebarExtraLight-Normal.woff) format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Chalet-NewYorkNineteenEighty";
  font-style: normal;
  font-display: swap;
  src: url(/fonts/Chalet-NewYorkNineteenEighty.woff2) format("woff2"), url(/fonts/Chalet-NewYorkNineteenEighty.woff) format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "OksFree";
  font-style: normal;
  font-display: swap;
  src: url(/fonts/OksFree.woff2) format("woff2"), url(/fonts/OksFree.woff) format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.page__body {
  -webkit-text-size-adjust: 100%;
  font-family: "HebarExtraLight-Normal", sans-serif;
  min-width: 320px;
  background-color: #ffeab3;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  min-height: 100%;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  -webkit-box-shadow: 0px 2px 2.67px 0.33px rgba(37, 37, 37, 0.2);
          box-shadow: 0px 2px 2.67px 0.33px rgba(37, 37, 37, 0.2);
}

.button--primary {
  font-family: "HebarExtraLight-Normal", sans-serif;
  background-color: #eb563a;
  color: #fff;
  font-weight: 100;
}

.button--primary:hover {
  background-color: rgba(235, 86, 58, 0.6);
}

@media screen and (min-width: 991px) {
  .button--primary {
    font-size: 18px;
  }
}

.button--white {
  background-color: #fff;
  color: #252525;
}

.button--white:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.button--yellow {
  background-color: #ffcb86;
}

.button--yellow:hover {
  background-color: rgba(255, 203, 134, 0.8);
}

.button--small {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

.button--medium {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 17px;
  padding-left: 20px;
  padding-right: 20px;
}

.button--large {
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  padding: 16px 0;
}

@media screen and (min-width: 767px) {
  .header {
    padding: 20px 0;
  }
}

.header__wrapper {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 767px) {
  .header__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header__logo img {
  width: 100px;
}

@media screen and (min-width: 767px) {
  .header__logo img {
    width: 110px;
  }
}

@media screen and (min-width: 991px) {
  .header__logo img {
    width: 120px;
  }
}

.header__button {
  display: none;
}

@media screen and (min-width: 767px) {
  .header__button {
    display: inline-block;
  }
}

.main-nav {
  position: relative;
}

.main-nav--opened .main-nav__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 45%;
  background-color: #f7f7f7;
  height: 100%;
  z-index: 2;
  padding-top: 60px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 35px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

@media screen and (min-width: 459px) {
  .main-nav--opened .main-nav__wrapper {
    left: 55%;
  }
}

@media screen and (min-width: 575px) {
  .main-nav--opened .main-nav__wrapper {
    position: -webkit-sticky;
    position: sticky;
    padding: 0;
    border: 0;
    background-color: inherit;
  }
}

.main-nav--opened .main-nav__list {
  list-style-type: none;
  display: block;
}

.main-nav--opened .main-nav__list .main-nav__item + .main-nav__item {
  margin-top: 15px;
}

@media screen and (min-width: 575px) {
  .main-nav--opened .main-nav__list {
    display: -ms-grid;
    display: grid;
  }
  .main-nav--opened .main-nav__list .main-nav__item + .main-nav__item {
    margin: 0;
  }
}

.main-nav--opened .main-nav__burger {
  display: block;
  z-index: 3;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -10px;
  left: -20px;
  right: 0;
  bottom: 0;
  border: 1px solid #252525;
  border-radius: 50%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main-nav--opened .main-nav__burger:hover, .main-nav--opened .main-nav__burger:active {
  border: 1px solid #f7f7f7;
  background-color: #252525;
}

.main-nav--opened .main-nav__burger:hover::before, .main-nav--opened .main-nav__burger:hover::after, .main-nav--opened .main-nav__burger:active::before, .main-nav--opened .main-nav__burger:active::after {
  background-color: #fff;
}

.main-nav--opened .main-nav__burger::before {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 1px;
  width: 15px;
  top: 11px;
  left: 4px;
}

.main-nav--opened .main-nav__burger::after {
  width: 15px;
  border-radius: 10px;
  position: absolute;
  content: "";
  height: 1px;
  background-color: #252525;
  top: 11px;
  left: 4px;
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (min-width: 575px) {
  .main-nav--opened .main-nav__burger {
    display: none;
  }
}

.main-nav__list {
  display: none;
}

@media screen and (min-width: 575px) {
  .main-nav__list {
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -webkit-column-gap: 33px;
            column-gap: 33px;
  }
}

.main-nav__item a {
  text-decoration: none;
  color: #252525;
  font-size: 16px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.main-nav__item a:hover {
  color: #eb563a;
}

@media screen and (min-width: 991px) {
  .main-nav__item a {
    font-size: 17px;
  }
}

.main-nav__burger {
  cursor: pointer;
  outline: none;
  border: none;
  z-index: 1;
  font-size: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

.main-nav__burger::before {
  border-radius: 10px;
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: #252525;
  top: 8px;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 8px 0 0 #000;
          box-shadow: 0 8px 0 0 #000;
}

@media screen and (min-width: 575px) {
  .main-nav__burger {
    display: none;
  }
}

.site-content {
  padding-bottom: 40px;
}

.site-content__wrapper {
  -webkit-box-shadow: 0px 2px 2.67px 0.33px rgba(37, 37, 37, 0.1);
          box-shadow: 0px 2px 2.67px 0.33px rgba(37, 37, 37, 0.1);
  border-radius: 20px;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 33px;
}

@media screen and (min-width: 767px) {
  .site-content__wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
  }
}

@media screen and (min-width: 991px) {
  .site-content__wrapper {
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.site-content__header {
  display: -ms-grid;
  display: grid;
  padding-top: 14px;
  padding-bottom: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 575px) {
  .site-content__header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.site-content__title {
  font-family: "OksFree", sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: #fff;
  border-radius: 30px;
  background-color: #eb563a;
  padding-top: 3px;
  padding-left: 37px;
  padding-right: 13px;
  padding-bottom: 13px;
}

@media screen and (min-width: 767px) {
  .site-content__title {
    font-size: 35px;
  }
}

@media screen and (min-width: 991px) {
  .site-content__title {
    font-size: 40px;
    letter-spacing: 1.3px;
    padding-left: 60px;
  }
}

.service__items {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  row-gap: 18px;
}

@media screen and (min-width: 575px) {
  .item-service {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.65fr 1.3fr;
        grid-template-columns: 0.65fr 1.3fr;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media screen and (min-width: 767px) {
  .item-service {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.55fr 1.4fr;
        grid-template-columns: 0.55fr 1.4fr;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media screen and (min-width: 991px) {
  .item-service {
    -webkit-column-gap: 30px;
            column-gap: 30px;
    -ms-grid-columns: 0.6fr 1.4fr;
        grid-template-columns: 0.6fr 1.4fr;
  }
}

.item-service:nth-child(1) .item-service__name {
  background-color: #68b399;
}

.item-service:nth-child(1) .item-service__description {
  background-color: #ffcb86;
}

.item-service:nth-child(2) .item-service__name {
  background-color: #efb051;
}

.item-service:nth-child(2) .item-service__description {
  background-color: #6ac7cf;
}

.item-service:nth-child(3) .item-service__name {
  background-color: #eb563a;
}

.item-service:nth-child(3) .item-service__description {
  background-color: #2d8e6d;
}

.item-service__name {
  display: none;
}

@media screen and (min-width: 575px) {
  .item-service__name {
    height: 190px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: min-content 1fr;
        grid-template-rows: -webkit-min-content 1fr;
        grid-template-rows: min-content 1fr;
    -webkit-box-shadow: 0px 2px 2.67px 0.33px rgba(37, 37, 37, 0.1);
            box-shadow: 0px 2px 2.67px 0.33px rgba(37, 37, 37, 0.1);
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 25px;
    color: #fff;
  }
  .item-service__name .item-service__number {
    font-size: 55px;
  }
  .item-service__name .item-service__title {
    padding-top: 9px;
    font-weight: 200;
    line-height: 0.8;
    padding-left: 5px;
    font-size: 25px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 767px) {
  .item-service__name {
    min-height: 200px;
    padding-right: 30px;
  }
  .item-service__name .item-service__number {
    font-size: 60px;
  }
  .item-service__name .item-service__title {
    font-size: 27px;
  }
}

@media screen and (min-width: 991px) {
  .item-service__name {
    border-radius: 35px;
    padding-bottom: 70px;
    min-height: 225px;
  }
  .item-service__name .item-service__number {
    font-size: 80px;
  }
  .item-service__name .item-service__title {
    padding-left: 15px;
    font-size: 32px;
    padding-top: 0;
  }
}

.item-service__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr min-content;
      grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
      grid-template-rows: min-content 1fr min-content;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 17px;
  -webkit-box-shadow: 0px 2px 2.67px 0.33px rgba(37, 37, 37, 0.1);
          box-shadow: 0px 2px 2.67px 0.33px rgba(37, 37, 37, 0.1);
  border-radius: 25px;
  background-image: url(../img/browser.png);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-size: 50%;
  min-height: 164px;
}

@media screen and (min-width: 459px) {
  .item-service__description {
    background-size: 30%;
  }
}

@media screen and (min-width: 575px) {
  .item-service__description {
    background-size: 35%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 767px) {
  .item-service__description {
    padding-top: 20px;
    padding-bottom: 17px;
    padding-left: 30px;
    padding-right: 25px;
  }
}

@media screen and (min-width: 991px) {
  .item-service__description {
    background-size: 28%;
    border-radius: 35px;
    padding-left: 40px;
    padding-right: 30px;
  }
}

.item-service__description-title {
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  color: #2a2a2a;
  font-size: 19px;
}

@media screen and (min-width: 767px) {
  .item-service__description-title {
    font-size: 22px;
  }
}

.item-service__description-text {
  margin-top: 4px;
  color: #131313;
  font-size: 13px;
  line-height: 1.4;
}

@media screen and (min-width: 459px) {
  .item-service__description-text {
    width: 80%;
    line-height: 1.6;
  }
}

@media screen and (min-width: 575px) {
  .item-service__description-text {
    line-height: 1;
    font-size: 14px;
    width: 85%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 767px) {
  .item-service__description-text {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    line-height: 1.3;
    width: 80%;
  }
}

@media screen and (min-width: 991px) {
  .item-service__description-text {
    margin-top: 8px;
    width: 78%;
    font-size: 15px;
  }
}

.item-service__description-button {
  margin-top: 8px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.promo {
  padding-bottom: 40px;
}

.promo__wrapper {
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (min-width: 459px) {
  .promo__wrapper {
    grid-auto-flow: column;
    grid-auto-columns: -webkit-min-content 1fr -webkit-min-content;
    grid-auto-columns: min-content 1fr min-content;
    grid-auto-rows: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.promo__block {
  -webkit-box-shadow: 0px 2px 2.67px 0.33px rgba(37, 37, 37, 0.3);
          box-shadow: 0px 2px 2.67px 0.33px rgba(37, 37, 37, 0.3);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 10px;
  background-color: #c7aabc;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 35px;
}

@media screen and (min-width: 459px) {
  .promo__block {
    margin: 0 10px;
    gap: 20px;
    grid-auto-flow: column;
    grid-auto-columns: -webkit-min-content 1fr -webkit-min-content;
    grid-auto-columns: min-content 1fr min-content;
    grid-auto-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 575px) {
  .promo__block {
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
}

@media screen and (min-width: 767px) {
  .promo__block {
    padding-bottom: 15px;
  }
}

.promo__img {
  max-width: 300px;
  border-radius: 8px;
}

.promo__img img {
  border-radius: 8px;
}

@media screen and (min-width: 459px) {
  .promo__img {
    grid-column: span 1;
    grid-row: span 3;
    width: 200px;
  }
}

@media screen and (min-width: 575px) {
  .promo__img {
    width: 250px;
  }
}

.promo__title {
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  color: #fff;
  font-size: 16px;
}

@media screen and (min-width: 459px) {
  .promo__title {
    text-align: left;
    grid-column: span 2;
    grid-row: span 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 575px) {
  .promo__title {
    font-size: 19px;
    text-align: left;
    grid-column: span 2;
    grid-row: span 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (min-width: 767px) {
  .promo__title {
    font-size: 21px;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media screen and (min-width: 991px) {
  .promo__title {
    font-size: 23px;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media screen and (min-width: 459px) {
  .promo__button {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.slider__switch {
  display: none;
}

.slider__toggles {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50px;
}

.slider__toggle {
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 1.94px 0.06px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 1px 1.94px 0.06px rgba(0, 0, 0, 0.17);
}

#promo-switch-1:checked ~ .promo__toggles .slider__toggle[for="promo-switch-1"],
#promo-switch-2:checked ~ .promo__toggles .slider__toggle[for="promo-switch-2"],
#promo-switch-3:checked ~ .promo__toggles .slider__toggle[for="promo-switch-3"] {
  background-color: #eb563a;
}

.footer {
  background-color: #f5f5f5;
  padding-top: 25px;
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (min-width: 767px) {
  .footer {
    padding-top: 35px;
  }
}

.footer__wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 20px;
  justify-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 699px) {
  .footer__promo {
    grid-column: span 1;
    grid-row: span 1;
  }
}

.footer__title {
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  text-align: center;
}

.footer__button {
  margin-top: 10px;
}

.footer__info {
  text-align: center;
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 5px;
}

.footer__contacts {
  display: -ms-grid;
  display: grid;
  row-gap: 5px;
}

.footer__contacts-item {
  font-size: 18px;
  color: #171717;
  text-decoration: none;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.footer__contacts-item:hover {
  color: rgba(23, 23, 23, 0.9);
}

.footer__social {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.footer__social-item {
  font-size: 18px;
  color: #171717;
  text-decoration: none;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.footer__social-item:hover {
  color: rgba(23, 23, 23, 0.9);
}

.footer__menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__menu {
    display: block;
  }
}

.footer__list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  row-gap: 8px;
}

.footer__list a {
  font-size: 18px;
  color: #171717;
  text-decoration: none;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.footer__list a:hover {
  color: rgba(235, 86, 58, 0.9);
}

.footer__bottom {
  padding-top: 20px;
  max-width: 900px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(265px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  gap: 10px;
  text-align: center;
}

.footer__bottom a {
  color: #171717;
  text-decoration: none;
  font-size: 14px;
}

.footer__bottom a:hover {
  color: rgba(235, 86, 58, 0.9);
}

/* About */
.hashtag-logo {
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
}

.hashtag-logo__title {
  grid-column: span 2;
  font-size: 35px;
  -webkit-text-stroke: 1px #2b2b2b;
  font-weight: 100;
  color: transparent;
}

.hashtag-logo__title span {
  color: #2b2b2b;
}

@media screen and (min-width: 459px) {
  .hashtag-logo__title {
    font-size: 45px;
  }
}

@media screen and (min-width: 575px) {
  .hashtag-logo__title {
    font-size: 50px;
  }
}

@media screen and (min-width: 767px) {
  .hashtag-logo__title {
    font-size: 55px;
  }
}

@media screen and (min-width: 991px) {
  .hashtag-logo__title {
    font-size: 60px;
  }
}

.hashtag-logo__description {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  padding: 3px 15px;
  border-radius: 20px;
  background-color: #48b08d;
}

@media screen and (min-width: 767px) {
  .hashtag-logo__description {
    padding: 3px 30px;
  }
}

.hashtag-logo__description p {
  color: #fff;
  font-size: 14px;
}

@media screen and (min-width: 459px) {
  .hashtag-logo__description p {
    font-size: 17px;
  }
}

@media screen and (min-width: 575px) {
  .hashtag-logo__description p {
    font-size: 20px;
  }
}

@media screen and (min-width: 767px) {
  .hashtag-logo__description p {
    font-size: 23px;
  }
}

@media screen and (min-width: 991px) {
  .hashtag-logo__description p {
    font-size: 26px;
  }
}

.about__logo {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.about__img {
  position: relative;
  margin: 4% 0;
  border-radius: 15px;
  width: 100%;
  background-color: rgba(255, 150, 130, 0.47);
  height: 150px;
}

@media screen and (min-width: 459px) {
  .about__img {
    height: 200px;
  }
}

@media screen and (min-width: 575px) {
  .about__img {
    height: 250px;
  }
}

@media screen and (min-width: 767px) {
  .about__img {
    height: 300px;
  }
}

@media screen and (min-width: 991px) {
  .about__img {
    height: 350px;
  }
}

.about__img::before {
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  position: absolute;
  content: "Медиа";
  color: #666666;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about__description {
  color: #313131;
  text-align: right;
  font-size: 14px;
}

@media screen and (min-width: 459px) {
  .about__description {
    font-size: 17px;
    margin-left: 15%;
  }
}

@media screen and (min-width: 767px) {
  .about__description {
    font-size: 18px;
  }
}

@media screen and (min-width: 991px) {
  .about__description {
    font-size: 20px;
  }
}

.about__services {
  margin-top: 5%;
}

@media screen and (min-width: 575px) {
  .about__services {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

.about__services-left {
  padding: 20px;
}

@media screen and (min-width: 575px) {
  .about__services-left {
    padding: 0;
  }
}

.about__services-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(190px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 12px;
  background-color: #fff;
  border-radius: 15px;
  padding: 11px 15px;
}

@media screen and (min-width: 459px) {
  .about__services-right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
}

@media screen and (min-width: 575px) {
  .about__services-right {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
  }
}

.about__services-title {
  margin-bottom: 3%;
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  color: #313131;
  font-size: 20px;
}

@media screen and (min-width: 767px) {
  .about__services-title {
    font-size: 23px;
  }
}

.about__services-description {
  font-size: 14px;
  color: #313131;
}

@media screen and (min-width: 459px) {
  .about__services-description {
    font-size: 17px;
  }
}

@media screen and (min-width: 767px) {
  .about__services-description {
    font-size: 18px;
  }
}

@media screen and (min-width: 459px) {
  .about__services-spoiler {
    text-align: center;
  }
}

@media screen and (min-width: 575px) {
  .about__services-spoiler {
    text-align: inherit;
  }
}

.about__services-spoiler summary {
  cursor: pointer;
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  color: #313131;
  font-size: 16px;
}

@media screen and (min-width: 767px) {
  .about__services-spoiler summary {
    font-size: 18px;
  }
}

.about__services-spoiler summary::marker {
  font-size: 0;
}

.about__services-list {
  margin: 5px;
  list-style: none;
  display: -ms-grid;
  display: grid;
  row-gap: 5px;
}

.about__services-item span {
  color: #313131;
  font-size: 13px;
}

@media screen and (min-width: 575px) {
  .about__services-item span {
    font-size: 14px;
  }
}

@media screen and (min-width: 767px) {
  .about__services-item span {
    font-size: 16px;
  }
}

/* Contacts */
.contacts__location {
  margin-bottom: 7%;
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  text-align: right;
}

.contacts__location-contry {
  font-size: 18px;
  color: #252525;
}

@media screen and (min-width: 459px) {
  .contacts__location-contry {
    font-size: 20px;
  }
}

@media screen and (min-width: 575px) {
  .contacts__location-contry {
    font-size: 23px;
  }
}

@media screen and (min-width: 991px) {
  .contacts__location-contry {
    font-size: 25px;
  }
}

.contacts__location-city {
  font-size: 17px;
  color: #252525;
}

@media screen and (min-width: 459px) {
  .contacts__location-city {
    font-size: 20px;
  }
}

@media screen and (min-width: 575px) {
  .contacts__location-city {
    font-size: 23px;
  }
}

@media screen and (min-width: 991px) {
  .contacts__location-city {
    font-size: 25px;
  }
}

.contacts__title {
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  color: #313131;
  font-size: 18px;
  margin-bottom: 2%;
  margin-left: 3%;
}

.contacts__social {
  margin-top: 6%;
  margin-left: 3%;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (minmax(20px, 87px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20px, 87px));
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__social-link {
  color: #252525;
  font-size: 15px;
  text-decoration: none;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.contacts__social-link:hover {
  color: rgba(37, 37, 37, 0.6);
}

@media screen and (min-width: 575px) {
  .contacts__social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.form-block {
  border-radius: 17px;
  background-color: #48b08d;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(230px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  -webkit-box-shadow: 0px 2px 2.67px 0.33px rgba(37, 37, 37, 0.2);
          box-shadow: 0px 2px 2.67px 0.33px rgba(37, 37, 37, 0.2);
}

@media screen and (min-width: 459px) {
  .form-block {
    gap: 5%;
    padding: 10px;
  }
}

@media screen and (min-width: 459px) {
  .form-block {
    padding: 30px;
  }
}

@media screen and (min-width: 767px) {
  .form-block {
    -ms-grid-columns: 2fr 2.5fr;
        grid-template-columns: 2fr 2.5fr;
    border-radius: 35px;
  }
}

.form-block__left {
  padding-top: 26px;
  padding-bottom: 7px;
  padding-left: 43px;
  padding-right: 43px;
}

@media screen and (min-width: 459px) {
  .form-block__left {
    padding: 0;
  }
}

.form-block__right {
  padding: 15px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
}

@media screen and (min-width: 459px) {
  .form-block__right {
    padding: 0;
  }
}

@media screen and (min-width: 575px) {
  .form-block__right {
    grid-row: span 1;
    grid-column: span 1;
  }
}

.form-block__title {
  text-shadow: 0px 0px 2px #252525;
  color: #fff;
  font-size: 17px;
}

@media screen and (min-width: 575px) {
  .form-block__title {
    font-size: 18px;
  }
}

@media screen and (min-width: 767px) {
  .form-block__title {
    font-size: 22px;
  }
}

.form-block__phone {
  margin-top: 2%;
  -webkit-box-shadow: 0px 2px 2.67px 0.33px rgba(37, 37, 37, 0.3);
          box-shadow: 0px 2px 2.67px 0.33px rgba(37, 37, 37, 0.3);
  padding: 8px 15px;
  background-color: #fff;
  border-radius: 20px;
}

@media screen and (min-width: 767px) {
  .form-block__phone {
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: auto;
  }
}

.form-block__number {
  color: #323232;
  font-size: 18px;
}

@media screen and (min-width: 575px) {
  .form-block__number {
    font-size: 22px;
  }
}

.form {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

@media screen and (min-width: 767px) {
  .form {
    gap: 10px;
  }
}

.form__group {
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  display: -ms-grid;
  display: grid;
  gap: 2px;
}

.form__label {
  color: #fff;
  font-size: 14px;
  margin-left: 5%;
}

.form__text {
  -webkit-box-shadow: 0px 2px 2.67px 0.33px rgba(37, 37, 37, 0.2);
          box-shadow: 0px 2px 2.67px 0.33px rgba(37, 37, 37, 0.2);
  border: none;
  outline: none;
  max-width: 100%;
  padding: 10px 15px;
  border-radius: 20px;
}

.form__text::-webkit-input-placeholder {
  color: #b9b8b8;
}

.form__text:-ms-input-placeholder {
  color: #b9b8b8;
}

.form__text::-ms-input-placeholder {
  color: #b9b8b8;
}

.form__text::placeholder {
  color: #b9b8b8;
}

@media screen and (min-width: 459px) {
  .form__button {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.form__agree {
  font-size: 10px;
  color: #fff;
}

/* Portfolio */
.portfolio-nav {
  display: none;
}

.portfolio__works {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

@media screen and (min-width: 459px) {
  .portfolio__works {
    -ms-grid-columns: (minmax(226px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(226px, 1fr));
  }
}

@media screen and (min-width: 767px) {
  .portfolio__works {
    gap: 30px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media screen and (min-width: 767px) {
  .work {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.4fr 2fr;
        grid-template-columns: 1.4fr 2fr;
    gap: 30px;
  }
  .work .work__title {
    font-size: 22px;
  }
  .work .work__category {
    font-size: 12px;
  }
  .work .work__description p {
    font-size: 16px;
  }
}

.work__left {
  -ms-grid-row-align: center;
      align-self: center;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 3.76px 0.24px rgba(37, 37, 37, 0.35);
          box-shadow: 0px 2px 3.76px 0.24px rgba(37, 37, 37, 0.35);
  padding: 10px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

@media screen and (min-width: 767px) {
  .work__left {
    -ms-grid-rows: min-content min-content 1fr min-content;
        grid-template-rows: -webkit-min-content -webkit-min-content 1fr -webkit-min-content;
        grid-template-rows: min-content min-content 1fr min-content;
    padding: 20px 30px;
    border-radius: 30px;
  }
}

.work__right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.work__title {
  color: #252525;
  text-align: center;
  font-size: 23px;
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
}

.work__categories {
  display: none;
}

@media screen and (min-width: 767px) {
  .work__categories {
    display: -ms-grid;
    display: grid;
    color: #252525;
    list-style: none;
    display: grid;
    -ms-grid-columns: (minmax(104px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(104px, 1fr));
    gap: 5px;
    justify-items: center;
  }
}

.work__category {
  font-size: 10px;
}

.work__img {
  -webkit-box-shadow: 0px 2px 3.76px 0.24px rgba(37, 37, 37, 0.35);
          box-shadow: 0px 2px 3.76px 0.24px rgba(37, 37, 37, 0.35);
  border-radius: 20px;
}

.work__img img {
  border-radius: 20px;
}

.work__img--mobile {
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (min-width: 767px) {
  .work__img--mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .work__img--tablet {
    display: none;
  }
}

.work__description {
  display: none;
}

@media screen and (min-width: 767px) {
  .work__description {
    display: block;
    position: relative;
    padding-left: 15px;
  }
  .work__description::before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: #eb563a;
    width: 5px;
    border-radius: 10px;
    left: 0;
  }
}

@media screen and (min-width: 767px) and (min-width: 767px) {
  .work__description::before {
    width: 7px;
  }
}

@media screen and (min-width: 767px) {
  .work__description p {
    font-size: 14px;
  }
}

.work__button {
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  -ms-grid-column-align: end;
      justify-self: end;
}
/*# sourceMappingURL=style.css.map */