.item-service {
  &--custom {
    &:nth-child(odd) {
      margin-left: 10%;
    }
    &:nth-child(even) {
      margin-right: 10%;
    }
    &:nth-child(2) {
      .item-service__name {
        @include background-with-shadow(#007785);
      }
      .item-service__description {
        @include background-with-shadow(#bfd5e3);
      }
    }
    &:nth-child(3) {
      .item-service__name {
        @include background-with-shadow(#f39369);
      }
      .item-service__description {
        @include background-with-shadow(#fccab4);
      }
    }
    &:nth-child(4) {
      .item-service__name {
        @include background-with-shadow(#268a70);
      }
      .item-service__description {
        @include background-with-shadow(#9ac6ba);
      }
    }
    &:nth-child(5) {
      .item-service__name {
        @include background-with-shadow(#9a6c6e);
      }
      .item-service__description {
        @include background-with-shadow(#efbb94);
      }
    }
    &:nth-child(6) {
      .item-service__name {
        @include background-with-shadow(#29343c);
      }
      .item-service__description {
        @include background-with-shadow(#fedabf);
      }
    }
    & + .item-service--custom {
      margin-top: 5%;
    }
    column-gap: 0;
    .item-service__name {
      font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
      grid-template-rows: auto;
    }
    .item-service__description {
      grid-template-rows: 1fr min-content;
      background-image: none;
      &-text {
        font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
        align-self: center;
      }
    }
  }
}
