.item-service {
  &--custom {
    &:nth-child(odd) {
      margin-left: 10%;
    }
    &:nth-child(even) {
      margin-right: 10%;
    }
    &:nth-child(2) {
      .item-service__name {
        background-color: #007785;
        box-shadow: 5px 8px 0px rgba(#007785, 0.85);
      }
      .item-service__description {
        background-color: #bfd5e3;
        box-shadow: 5px 8px 0px rgba(#bfd5e3, 0.85);
      }
    }
    &:nth-child(3) {
      .item-service__name {
        background-color: #f39369;
        box-shadow: 5px 8px 0px rgba(#f39369, 0.85);
      }
      .item-service__description {
        background-color: #fccab4;
        box-shadow: 5px 8px 0px rgba(#fccab4, 0.85);
      }
    }
    &:nth-child(4) {
      .item-service__name {
        background-color: #268a70;
        box-shadow: 5px 8px 0px rgba(#268a70, 0.85);
      }
      .item-service__description {
        background-color: #9ac6ba;
        box-shadow: 5px 8px 0px rgba(#9ac6ba, 0.85);
      }
    }
    &:nth-child(5) {
      .item-service__name {
        background-color: #9a6c6e;
        box-shadow: 5px 8px 0px rgba(#9a6c6e, 0.85);
      }
      .item-service__description {
        background-color: rgba(#efbb94, 0.9);
        box-shadow: 5px 8px 0px rgba(#efbb94, 0.85);
      }
    }
    &:nth-child(6) {
      .item-service__name {
        background-color: #29343c;
        box-shadow: 5px 8px 0px rgba(#29343c, 0.85);
      }
      .item-service__description {
        background-color: #fedabf;
        box-shadow: 5px 8px 0px rgba(#fedabf, 0.85);
      }
    }
    & + .item-service--custom {
      margin-top: 5%;
    }
    column-gap: 0;
    .item-service__name {
      font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
      grid-template-rows: auto;
    }
    .item-service__description {
      grid-template-rows: 1fr min-content;
      background-image: none;
      &-text {
        font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
        align-self: center;
      }
    }
  }
}
