.header {
  padding: 16px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    padding: 0 30px;
    margin: 0 auto;
  }
  &__logo {
    img {
      width: 100px;
      @media screen and (min-width: 576px) {
        width: 130px;
      }
      @media screen and (min-width: 992px) {
        width: 140px;
      }
    }
  }
  &__button {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}
