.site-content {
  &__item + &__item {
    margin-top: 8%;
  }
}

// Banner Section

.banner-logo {
  position: relative;
  min-height: 300px;
  color: #fff;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  border-radius: 20px;
  @media screen and (min-width: $tablet-width) {
    min-height: 370px;
    border-radius: 30px;
    .banner-logo__img {
      border-radius: 30px;
      img {
        border-radius: 30px;
      }
    }
  }
  &__img {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    z-index: 3;
    img {
      border-radius: 20px;
      height: 100%;
      width: 100%;
    }
  }
  &::before {
    z-index: 4;
    position: absolute;
    content: "";
    border-radius: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(#252525, 0.6);
    @media screen and (min-width: $tablet-width) {
      border-radius: 30px;
    }
  }
  &__header {
    z-index: 5;
    place-self: center;
  }
  &__title {
    font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
    font-size: 20px;
    @media screen and (min-width: $mobile-width) {
      font-size: 25px;
    }
    @media screen and (min-width: $tablet-width) {
      font-size: 30px;
    }
  }
  &__subtitle {
    font-size: 15px;
    @media screen and (min-width: $mobile-width) {
      font-size: 25px;
    }
    @media screen and (min-width: $tablet-width) {
      font-size: 30px;
      letter-spacing: 2px;
      margin-left: 2%;
      margin-right: 2%;
    }
  }
  &__bottom {
    align-self: center;
    z-index: 5;
    display: grid;
    grid-template-rows: min-content 1fr;
  }
  &__description {
    margin-top: 1%;
    align-self: start;
    background-color: $red_color;
    border-radius: 30px;
    padding: 15px;
    @media screen and (min-width: $tablet-width) {
      min-height: 100px;
      border-radius: 40px;
      width: 90%;
      padding: 15px 25px;
    }
    p {
      font-size: 14px;
      color: #f7f7f7;
      @media screen and (min-width: $mobile-width) {
        font-size: 17px;
      }
      @media screen and (min-width: $tablet-width) {
        font-size: 19px;
      }
    }
  }
}

// Custom sections

.creation {
  // Stages
  &-stages {
    padding: 10px 20px;
    display: grid;
    @media screen and (min-width: $mobile-width) {
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
    }
    &__left {
      justify-self: center;
    }
    &__right {
      display: grid;
      row-gap: 20px;
    }
    &__img {
      img {
        width: 250px;
      }
    }
    &__item {
    }
    &__number {
      font-family: "Chalet-NewYorkNineteenEighty";
      color: #171717;
      font-size: 24px;
      @media screen and (min-width: $desktop-width) {
        font-size: 28px;
      }
    }
    &__spoiler {
      summary {
        cursor: pointer;
        font-family: "Chalet-NewYorkNineteenEighty";
        font-size: 20px;
        color: #171717;
        @media screen and (min-width: $desktop-width) {
          font-size: 25px;
        }
        &::marker {
          font-size: 0;
        }
      }
    }
    &__description {
      padding: 10px 0;
      font-size: 14px;
      @media screen and (min-width: $mobile-width) {
        font-size: 17px;
      }
      @media screen and (min-width: $tablet-width) {
        font-size: 19px;
      }
    }
  }

  // Needed
  &-needed {
    position: relative;
    background-color: #bfd5e3;
    border-radius: 20px;
    padding: 30px 10px;
    margin-left: 5%;
    margin-right: 5%;
    &__header {
      position: absolute;
      content: "";
      color: #fff;
      background-color: #007785;
      border-radius: 20px;
      padding: 7px 10px;
      top: -20px;
      left: 0;
    }
    &__title {
      font-family: "Chalet-NewYorkNineteenEighty";
      font-size: 17px;
      text-align: center;
    }
    &__bottom {
      position: absolute;
      content: "";
      color: #fff;
      background-color: $red_color;
      border-radius: 20px;
      padding: 7px 10px;
      bottom: -20px;
      right: 0;
    }
    &__subtitle {
      font-family: "Chalet-NewYorkNineteenEighty";
      font-size: 17px;
      text-align: center;
    }
    &__items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      row-gap: 30px;
      align-items: start;
      justify-items: center;
    }
    &__item {
      &:last-child {
        figcaption {
          font-size: 0;
        }
      }
      display: grid;
      justify-items: center;
      row-gap: 10px;
      img {
        max-width: 60%;
      }
      figcaption {
        text-align: center;
        font-size: 14px;
        @media screen and (min-width: $tablet-width) {
          font-size: 16px;
        }
      }
    }
    &__img {
      display: grid;
      place-items: center;
      border-radius: 50%;
      background-color: #fff;
      width: 95px;
      height: 95px;
    }
  }
}
