.site-content {
  &__item + &__item {
    margin-top: 13%;
  }
}

.creation-title {
  text-align: center;
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  margin: 10% 0;
  font-size: 20px;
  @media screen and (min-width: $tablet-width) {
    margin: 5% 0;
    font-size: 25px;
  }
}

// Banner Section

.banner-logo {
  position: relative;
  min-height: 300px;
  @include background-with-shadow(#fff);
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  border-radius: 20px;
  @media screen and (min-width: $tablet-width) {
    min-height: 370px;
    border-radius: 30px;
    .banner-logo__img {
      border-radius: 30px;
      img {
        border-radius: 30px;
      }
    }
  }
  &__img {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    z-index: 3;
    img {
      border-radius: 20px;
      height: 100%;
      width: 100%;
    }
  }
  &::before {
    z-index: 4;
    position: absolute;
    content: "";
    border-radius: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(#252525, 0.2);
    @media screen and (min-width: $tablet-width) {
      border-radius: 30px;
    }
  }
  &__header {
    z-index: 5;
    place-self: center;
  }
  &__title {
    font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
    font-size: 20px;
    @include background-with-shadow(#fff);
    color: #252525;
    padding: 10px;
    border-radius: 10px;
    @media screen and (min-width: $mobile-width) {
      font-size: 25px;
    }
    @media screen and (min-width: $tablet-width) {
      font-size: 30px;
    }
  }
  &__subtitle {
    font-size: 15px;
    @media screen and (min-width: $mobile-width) {
      font-size: 25px;
    }
    @media screen and (min-width: $tablet-width) {
      font-size: 30px;
      letter-spacing: 2px;
      margin-left: 2%;
      margin-right: 2%;
    }
  }
  &__bottom {
    align-self: center;
    z-index: 5;
    display: grid;
    grid-template-rows: min-content 1fr;
  }
  &__description {
    margin-top: 1%;
    align-self: start;
    background-color: $red_color;
    border-radius: 30px;
    padding: 15px;
    @media screen and (min-width: $tablet-width) {
      min-height: 100px;
      border-radius: 40px;
      width: 90%;
      padding: 15px 25px;
    }
    p {
      font-size: 16px;
      color: #f7f7f7;
      @media screen and (min-width: $mobile-width) {
        font-size: 17px;
      }
      @media screen and (min-width: $tablet-width) {
        font-size: 19px;
      }
    }
  }
}

// Custom sections

.creation {
  // Stages
  &-stages {
    padding: 20px;
    display: grid;
    background-image: linear-gradient(#66cc99, #66cc99);
    @media screen and (min-width: $mobile-width) {
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
    }
    &__left {
      justify-self: center;
      align-self: center;
    }
    &__right {
      display: grid;
      row-gap: 20px;
    }
    &__img {
      img {
        width: 250px;
      }
    }
    &__item {
      border-radius: 5px;
      padding: 10px;
      @include background-with-shadow(#fff);
    }
    &__number {
      font-family: "Chalet-NewYorkNineteenEighty";
      color: #252525;
      font-size: 24px;
      @media screen and (min-width: $desktop-width) {
        font-size: 28px;
      }
    }
    &__spoiler {
      summary {
        cursor: pointer;
        font-family: "Chalet-NewYorkNineteenEighty";
        font-size: 20px;
        color: #252525;
        @media screen and (min-width: $desktop-width) {
          font-size: 25px;
        }
        &::marker {
          font-size: 0;
        }
      }
    }
    &__description {
      padding: 10px 0;
      font-size: 14px;
      color: #252525;
      @media screen and (min-width: $mobile-width) {
        font-size: 17px;
      }
      @media screen and (min-width: $tablet-width) {
        font-size: 19px;
      }
    }
  }

  // Needed
  &-needed {
    position: relative;
    @include background-with-shadow(#bfd5e3);
    border-radius: 20px;
    padding: 30px 10px;
    margin-left: 8%;
    margin-right: 8%;
    @media screen and (min-width: $mobile-width) {
      margin-left: 5%;
      margin-right: 5%;
    }
    &__header {
      position: absolute;
      content: "";
      color: #fff;
      @include background-with-shadow(#007785);
      border-radius: 20px;
      padding: 7px 10px;
      top: -20px;
      left: 0;
    }
    &__title {
      font-family: "Chalet-NewYorkNineteenEighty";
      font-size: 17px;
      text-align: center;
    }
    &__bottom {
      position: absolute;
      content: "";
      color: #fff;
      @include background-with-shadow($red_color);
      border-radius: 20px;
      padding: 7px 10px;
      bottom: -20px;
      right: 0;
    }
    &__subtitle {
      font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
      font-size: 17px;
      text-align: center;
    }
    &__items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      row-gap: 30px;
      align-items: start;
      justify-items: center;
    }
    &__item {
      &:last-child {
        figcaption {
          font-size: 0;
        }
      }
      display: grid;
      justify-items: center;
      row-gap: 10px;
      img {
        max-width: 60%;
      }
      figcaption {
        text-align: center;
        font-size: 14px;
        @media screen and (min-width: $tablet-width) {
          font-size: 15px;
        }
      }
    }
    &__img {
      display: grid;
      place-items: center;
      border-radius: 50%;
      background-color: #fff;
      width: 95px;
      height: 95px;
    }
  }
  // Offer
  &-offer {
    min-height: 220px;
    color: #fff;
    @include background-with-shadow($red_color);
    padding: 20px;
    display: grid;
    row-gap: 20px;
    @media screen and (min-width: $small-mobile-width) {
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }
    @media screen and (min-width: $tablet-width) {
      min-height: 250px;
      padding: 30px;
    }
    &__left {
      display: grid;
      row-gap: 10px;
    }
    &__right {
      display: grid;
      grid-template-rows: 2fr 1fr;
    }
    &__title {
      font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
      font-size: 20px;
      @media screen and (min-width: $tablet-width) {
        font-size: 24px;
      }
    }
    &__description {
      font-size: 16px;
      @media screen and (min-width: $tablet-width) {
        font-size: 19px;
      }
    }
    &__price {
      font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
      text-align: center;
      font-size: 24px;
      align-self: center;
      @media screen and (min-width: $tablet-width) {
        font-size: 28px;
      }
    }
    &__button {
      justify-self: end;
      font-size: 16px;
      @media screen and (min-width: $small-mobile-width) {
        align-self: end;
      }
    }
  }
  // Portfolio
  &-portfolio {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    &__work {
      min-height: 200px;
      border-radius: 30px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 2px 3.76px 0.24px rgba(#252525, 0.35);
      display: grid;
      grid-template-columns: 1.5fr 2fr;
      padding: 15px;
      column-gap: 25px;
      row-gap: 5px;
      @media screen and (min-width: $tablet-width) {
        padding: 20px;
      }
    }
    &__title {
      font-size: 16px;
      align-self: end;
      text-align: inherit;
      @media screen and (min-width: $tablet-width) {
        font-size: 20px;
      }
    }
    &__categories {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
      list-style: none;
      align-items: center;
      justify-items: start;
      gap: 3px;
    }
    &__category {
    }
    &__button {
      align-self: end;
    }
    &__img {
      align-self: center;
      max-width: 180px;
      grid-column: span 1;
      grid-row: span 3;
    }
  }
  // Other
  &-other {
    @include background-with-shadow(#00cccc);
    min-width: 200px;
    padding: 30px 20px;
    display: grid;
    row-gap: 20px;
    &__title {
      font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
      color: #fff;
    }
    &__list {
      list-style: none;
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(152px, 1fr));
    }
    &__item {
      background-color: #f2f3f4;
      border-radius: 30px;
      padding: 5px 15px;
      transition: 0.1s linear;
      &:hover {
        background-color: rgba(#f2f3f4, 0.9);
      }
    }
    &__link {
      color: #282828;
      text-decoration: none;
      font-size: 15px;
    }
  }
  &-order {
    border-radius: 20px;
    padding: 30px 15px;
    background-color: #66cccc;
    box-shadow: 5px 8px 0px rgba(#66cccc, 0.85);
    display: grid;
    gap: 20px;
    @media screen and (min-width: $mobile-width) {
      grid-template-columns: 1fr 1fr;
      padding: 25px;
      gap: 35px;
    }
    @media screen and (min-width: $tablet-width) {
      padding: 35px;
    }
    &__title {
      font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
      color: #252525;
      font-size: 19px;
      @media screen and (min-width: $mobile-width) {
        font-size: 25px;
      }
      @media screen and (min-width: $mobile-width) {
        font-size: 27px;
      }
    }
    &__description {
      line-height: 1.45;
      color: #252525;
      font-size: 15px;
      @media screen and (min-width: $mobile-width) {
        font-size: 17px;
      }
      @media screen and (min-width: $tablet-width) {
        font-size: 19px;
      }
    }
    &__phone {
      color: #252525;
      font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
      font-size: 19px;
      text-decoration: none;
      @media screen and (min-width: $mobile-width) {
        font-size: 25px;
      }
    }
    &__left {
      display: grid;
      align-items: center;
      height: 50%;
      gap: 10px;
      justify-items: center;
      @media screen and (min-width: $mobile-width) {
        justify-items: start;
      }
    }
    &__right {
    }
    &__form {
    }
  }
}

.form {
  &__group {
    &--column {
    }
    gap: 6px;
  }
  &__label {
    text-shadow: 0px 0px 2px #252525;
    color: #f7f7f7;
  }
  &__text {
    &--large {
      min-height: 200px;
    }
  }
  &__subgroup {
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
  }
}

.work__img {
  &--circle {
    box-shadow: none;
    border-radius: 50%;
  }
}
