@import "./fonts";

// Variables
$red_color: #eb563a;

$small-mobile-width: 459px;
$mobile-width: 575px;
$tablet-width: 767px;
$desktop-width: 991px;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.page {
  &__body {
    -webkit-text-size-adjust: 100%;
    font-family: "HebarExtraLight-Normal", sans-serif;
    min-width: 320px;
    background-color: #ffeab3;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100%;
  }
}

.button {
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.1s linear;
  box-shadow: 1px 1.5px 0px rgba(#252525, 0.6);
  &:active {
    box-shadow: 0.66px 1.06px 0px rgba(#252525, 0.6);
  }
  &--primary {
    background-color: $red_color;
    color: #fff;
    font-weight: 100;
    &:hover {
      background-color: rgba($red_color, 0.8);
    }
    @media screen and (min-width: $desktop-width) {
      font-size: 18px;
    }
  }
  &--white {
    background-color: #fff;
    color: #313131;
    &:hover {
      background-color: rgba(#fff, 0.5);
    }
  }
  &--yellow {
    background-color: #ffcb86;
    &:hover {
      background-color: rgba(#ffcb86, 0.8);
    }
  }
  &--small {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
  &--medium {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &--large {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// -------------------Header-------------------
.header {
  padding: 16px 0;
  @media screen and (min-width: $tablet-width) {
    padding: 20px 0;
  }
  &__wrapper {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: $tablet-width) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  &__logo {
    img {
      width: 100px;
      @media screen and (min-width: $tablet-width) {
        width: 110px;
      }
      @media screen and (min-width: $desktop-width) {
        width: 120px;
      }
    }
  }
  &__button {
    display: none;
    @media screen and (min-width: $tablet-width) {
      display: inline-block;
    }
  }
}

// Navbar
.main-nav {
  position: relative;
  &--opened {
    .main-nav__wrapper {
      position: fixed;
      top: 0;
      right: 0;
      left: 45%;
      background-color: #f7f7f7;
      height: 100%;
      z-index: 2;
      padding-top: 60px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 35px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      @media screen and (min-width: $small-mobile-width) {
        left: 55%;
      }
      @media screen and (min-width: $mobile-width) {
        position: sticky;
        padding: 0;
        border: 0;
        background-color: inherit;
      }
    }
    .main-nav__list {
      list-style-type: none;
      display: block;
      .main-nav__item + .main-nav__item {
        margin-top: 15px;
      }
      @media screen and (min-width: $mobile-width) {
        display: grid;
        .main-nav__item + .main-nav__item {
          margin: 0;
        }
      }
    }
    .main-nav__burger {
      display: block;
      z-index: 3;
      position: absolute;
      width: 25px;
      height: 25px;
      top: -10px;
      left: -20px;
      right: 0;
      bottom: 0;
      border: 1px solid #252525;
      border-radius: 50%;
      transition: 0.2s linear;
      &:hover,
      &:active {
        border: 1px solid #f7f7f7;
        background-color: #252525;
        &::before,
        &::after {
          background-color: #fff;
        }
      }
      &::before {
        box-shadow: none;
        transform: rotate(45deg);
        height: 1px;
        width: 15px;
        top: 11px;
        left: 4px;
      }
      &::after {
        width: 15px;
        border-radius: 10px;
        position: absolute;
        content: "";
        height: 1px;
        background-color: #252525;
        top: 11px;
        left: 4px;
        right: 0;
        transform: rotate(-45deg);
      }
      @media screen and (min-width: $mobile-width) {
        display: none;
      }
    }
  }
  &__list {
    display: none;
    @media screen and (min-width: $mobile-width) {
      list-style-type: none;
      display: grid;
      grid-auto-flow: column;
      column-gap: 33px;
    }
  }
  &__item {
    a {
      text-decoration: none;
      color: #252525;
      font-size: 16px;
      transition: 0.1s linear;
      &:hover {
        color: $red_color;
      }
      @media screen and (min-width: $desktop-width) {
        font-size: 17px;
      }
    }
  }
  &__burger {
    cursor: pointer;
    outline: none;
    border: none;
    z-index: 1;
    font-size: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    &::before {
      border-radius: 10px;
      position: absolute;
      content: "";
      height: 4px;
      width: 100%;
      background-color: #252525;
      top: 8px;
      left: 0;
      right: 0;
      box-shadow: 0 8px 0 0 #000;
    }
    @media screen and (min-width: $mobile-width) {
      display: none;
    }
  }
}

//-------------------Main-------------------

.site-content {
  padding-bottom: 40px;
  &__wrapper {
    border-radius: 20px;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 33px;
    @media screen and (min-width: $tablet-width) {
      max-width: 900px;
      margin: 0 auto;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 25px;
    }
    @media screen and (min-width: $desktop-width) {
      border-radius: 30px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  &__header {
    display: grid;
    padding-top: 14px;
    padding-bottom: 40px;
    justify-content: center;
    @media screen and (min-width: $mobile-width) {
      padding-bottom: 20px;
      justify-content: end;
    }
  }
  &__title {
    font-family: "OksFree", sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: #fff;
    border-radius: 30px;
    background-color: $red_color;
    box-shadow: 5px 8px 0px rgba($red_color, 0.6);
    padding-top: 3px;
    padding-left: 37px;
    padding-right: 13px;
    padding-bottom: 13px;
    @media screen and (min-width: $tablet-width) {
      font-size: 35px;
    }
    @media screen and (min-width: $desktop-width) {
      font-size: 40px;
      letter-spacing: 1.3px;
      padding-left: 60px;
    }
  }
}

// Service
.service {
  &__items {
    display: grid;
    grid-auto-flow: row;
    row-gap: 30px;
  }
}

// Item service
.item-service {
  @media screen and (min-width: $mobile-width) {
    display: grid;
    grid-template-columns: 0.65fr 1.3fr;
    column-gap: 20px;
  }
  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 0.55fr 1.4fr;
    column-gap: 20px;
  }
  @media screen and (min-width: $desktop-width) {
    column-gap: 30px;
    grid-template-columns: 0.6fr 1.4fr;
  }
  &:nth-child(1) {
    .item-service__name {
      background-color: #68b399;
      box-shadow: 5px 8px 0px rgba(#68b399, 0.85);
    }
    .item-service__description {
      background-color: #ffcb86;
      box-shadow: 5px 8px 0px rgba(#ffcb86, 0.85);
    }
  }
  &:nth-child(2) {
    .item-service__name {
      background-color: #efb051;
      box-shadow: 5px 8px 0px rgba(#efb051, 0.85);
    }
    .item-service__description {
      background-color: #6ac7cf;
      box-shadow: 5px 8px 0px rgba(#6ac7cf, 0.85);
    }
  }
  &:nth-child(3) {
    .item-service__name {
      background-color: $red_color;
      box-shadow: 5px 8px 0px rgba($red_color, 0.85);
    }
    .item-service__description {
      background-color: #2d8e6d;
      box-shadow: 5px 8px 0px rgba(#2d8e6d, 0.85);
    }
  }
  &__name {
    display: none;
    @media screen and (min-width: $mobile-width) {
      height: 190px;
      display: grid;
      grid-template-rows: min-content 1fr;
      border-radius: 25px;
      padding-top: 20px;
      padding-bottom: 50px;
      padding-left: 20px;
      padding-right: 25px;
      color: #fff;
      .item-service__number {
        font-size: 55px;
      }
      .item-service__title {
        padding-top: 9px;
        font-weight: 200;
        line-height: 0.8;
        padding-left: 5px;
        font-size: 25px;
        align-self: center;
        word-break: break-word;
      }
    }
    @media screen and (min-width: $tablet-width) {
      min-height: 200px;
      padding-right: 30px;
      .item-service__number {
        font-size: 60px;
      }
      .item-service__title {
        font-size: 27px;
      }
    }
    @media screen and (min-width: $desktop-width) {
      border-radius: 35px;
      padding-bottom: 70px;
      min-height: 225px;
      .item-service__number {
        font-size: 80px;
      }
      .item-service__title {
        padding-left: 15px;
        font-size: 32px;
        padding-top: 0;
      }
    }
  }
  &__description {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 17px;
    border-radius: 25px;
    background-image: url(../img/browser.png);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-size: 50%;
    min-height: 164px;
    @media screen and (min-width: $small-mobile-width) {
      background-size: 30%;
    }
    @media screen and (min-width: $mobile-width) {
      background-size: 35%;
      align-self: center;
    }
    @media screen and (min-width: $tablet-width) {
      padding-top: 20px;
      padding-bottom: 17px;
      padding-left: 30px;
      padding-right: 25px;
    }
    @media screen and (min-width: $desktop-width) {
      background-size: 28%;
      border-radius: 35px;
      padding-left: 40px;
      padding-right: 30px;
    }
    &-title {
      font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
      color: #2a2a2a;
      font-size: 19px;
      @media screen and (min-width: $tablet-width) {
        font-size: 22px;
      }
    }
    &-text {
      margin-top: 4px;
      color: #131313;
      font-size: 13px;
      line-height: 1.4;

      @media screen and (min-width: $small-mobile-width) {
        width: 80%;
        line-height: 1.6;
      }
      @media screen and (min-width: $mobile-width) {
        line-height: 1;
        font-size: 14px;
        width: 85%;
        align-self: center;
      }
      @media screen and (min-width: $tablet-width) {
        align-self: stretch;
        line-height: 1.3;
        width: 80%;
      }
      @media screen and (min-width: $desktop-width) {
        margin-top: 8px;
        width: 78%;
        font-size: 15px;
      }
    }
    &-button {
      margin-top: 8px;
      justify-self: end;
    }
  }
}

// promo

.promo {
  padding-bottom: 40px;
  &__wrapper {
    max-width: 900px;
    margin: 0 auto;
    @media screen and (min-width: $small-mobile-width) {
      grid-auto-flow: column;
      grid-auto-columns: min-content 1fr min-content;
      grid-auto-rows: repeat(3, 1fr);
      gap: 20px;
      justify-items: center;
      align-items: center;
    }
  }
  &__block {
    box-shadow: 5px 8px 0px rgba(#c7aabc, 0.85);
    display: grid;
    justify-items: center;
    gap: 10px;
    background-color: #c7aabc;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 35px;
    @media screen and (min-width: $small-mobile-width) {
      margin: 0 10px;
      gap: 20px;
      grid-auto-flow: column;
      grid-auto-columns: min-content 1fr min-content;
      grid-auto-rows: repeat(3, 1fr);
    }
    @media screen and (min-width: $mobile-width) {
      justify-items: center;
      align-items: center;
      padding: 20px;
    }
    @media screen and (min-width: $tablet-width) {
      padding-bottom: 15px;
    }
  }
  &__img {
    max-width: 300px;
    border-radius: 8px;
    img {
      border-radius: 8px;
    }
    @media screen and (min-width: $small-mobile-width) {
      grid-column: span 1;
      grid-row: span 3;
      width: 200px;
    }
    @media screen and (min-width: $mobile-width) {
      width: 250px;
    }
  }
  &__title {
    font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
    color: #fff;
    font-size: 16px;
    @media screen and (min-width: $small-mobile-width) {
      text-align: left;
      grid-column: span 2;
      grid-row: span 2;
      align-self: center;
    }
    @media screen and (min-width: $mobile-width) {
      font-size: 19px;
      text-align: left;
      grid-column: span 2;
      grid-row: span 2;
      align-self: center;
    }
    @media screen and (min-width: $tablet-width) {
      font-size: 21px;
      justify-self: start;
    }
    @media screen and (min-width: $desktop-width) {
      font-size: 23px;
      justify-self: start;
    }
  }
  &__button {
    @media screen and (min-width: $small-mobile-width) {
      grid-row: 3;
      align-self: end;
      justify-self: end;
    }
  }
}

// slider
.slider {
  &__switch {
    display: none;
  }
  &__toggles {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50px;
  }
  &__toggle {
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    background-color: #fff;
    box-shadow: 0px 1px 1.94px 0.06px rgba(#000, 0.17);
  }
}

#promo-switch-1:checked ~ .promo__toggles .slider__toggle[for="promo-switch-1"],
#promo-switch-2:checked ~ .promo__toggles .slider__toggle[for="promo-switch-2"],
#promo-switch-3:checked ~ .promo__toggles .slider__toggle[for="promo-switch-3"] {
  background-color: $red_color;
}

//-------------------Main-------------------

.footer {
  background-color: #f5f5f5;
  padding-top: 25px;
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  @media screen and (min-width: $tablet-width) {
    padding-top: 35px;
  }
  &__wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 30px;
    row-gap: 20px;
    justify-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__promo {
    @media screen and (max-width: 699px) {
      grid-column: span 1;
      grid-row: span 1;
    }
  }
  &__title {
    font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
    text-align: center;
  }
  &__button {
    margin-top: 10px;
  }
  &__info {
    text-align: center;
    font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
  }
  &__contacts {
    display: grid;
    row-gap: 5px;
    &-item {
      font-size: 18px;
      color: #171717;
      text-decoration: none;
      transition: 0.1s linear;
      &:hover {
        color: rgba(#171717, 0.9);
      }
    }
  }
  &__social {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    &-item {
      font-size: 18px;
      color: #171717;
      text-decoration: none;
      transition: 0.1s linear;
      &:hover {
        color: rgba(#171717, 0.9);
      }
    }
  }
  &__menu {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  &__list {
    list-style: none;
    display: grid;
    row-gap: 8px;
    a {
      font-size: 18px;
      color: #171717;
      text-decoration: none;
      transition: 0.1s linear;
      &:hover {
        color: rgba($red_color, 0.9);
      }
    }
  }
  &__bottom {
    padding-top: 20px;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    gap: 10px;
    text-align: center;
    a {
      color: #171717;
      text-decoration: none;
      font-size: 14px;
      &:hover {
        color: rgba($red_color, 0.9);
      }
    }
  }
}

// ================ PAGES ====================

/* About */
@import "./about";

/* Contacts */
@import "./contacts";

/* Portfolio */
@import "./portfolio";

/* Create Site */
@import "./create-site";

/* Landing */
@import "./landing";
