@import "./fonts";

// Variables
$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  &__body {
    font-family: "HebarExtraLight-Normal", sans-serif;
    min-width: 320px;
    background-color: #ffeab3;
    word-wrap: break-word;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
  }
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px 25px;
  border-radius: 20px;
  &--primary {
    font-family: "HebarExtraLight-Normal", sans-serif;
    background-color: #eb563a;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    transition: 0.2s linear;
    &:hover {
      background-color: #f7785f;
    }
    @media screen and (min-width: $desktop-width) {
      font-size: 18px;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

// Header
.header {
  padding: 16px 0;
  &__wrapper {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: $tablet-width) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  &__logo {
    img {
      width: 100px;
      @media screen and (min-width: $tablet-width) {
        width: 130px;
      }
      @media screen and (min-width: $desktop-width) {
        width: 140px;
      }
    }
  }
  &__button {
    display: none;
    @media screen and (min-width: $tablet-width) {
      display: inline-block;
    }
  }
}

// Navbar
.main-nav {
  position: relative;
  &__list {
    display: none;
    @media screen and (min-width: $mobile-width) {
      list-style-type: none;
      display: grid;
      grid-auto-flow: column;
      column-gap: 33px;
    }
  }
  &__item {
    a {
      text-decoration: none;
      color: #252525;
      font-size: 16px;
      transition: 0.2s linear;
      &:hover {
        color: #eb563a;
      }
      @media screen and (min-width: $desktop-width) {
        font-size: 19px;
      }
    }
  }
  &__burger {
    cursor: pointer;
    outline: none;
    border: none;
    z-index: 1;
    font-size: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    &::before {
      border-radius: 10px;
      position: absolute;
      content: "";
      height: 4px;
      background-color: #252525;
      top: 8px;
      left: 0;
      right: 0;
      box-shadow: 0 8px 0 0 #000;
    }
    @media screen and (min-width: $mobile-width) {
      display: none;
    }
  }
}
